<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">InventStrack</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen>

  <!-- Fondo con un degradado suave -->
  <div class="login-background">
    <div class="login-container">
      <!-- Logo o ícono del sistema de inventarios -->
      <div class="logo-container">
        <ion-icon name="briefcase-outline" size="large"></ion-icon>
      </div>

      <!-- Tarjeta del login -->
      <ion-card class="login-card">

        <ion-card-header class="ion-text-center">
          <ion-card-title>Iniciar Sesión</ion-card-title>
          <p class="login-subtitle">Bienvenido a tu sistema de inventarios</p>
        </ion-card-header>

        <ion-card-content>

          <!-- Campo de Username -->
          <ion-item class="custom-input">
            <ion-label position="floating">Usuario</ion-label>
            <ion-input name="email" [(ngModel)]="email" ></ion-input>
          </ion-item>

          <!-- Campo de Password -->
          <ion-item class="custom-input">
            <ion-label position="floating">password</ion-label>
            <ion-input name="password"  [(ngModel)]="password" type="password"></ion-input>
          </ion-item>

          <!-- Botón de inicio de sesión -->
          <ion-button expand="block" color="primary" class="login-button" (click)="login()">Iniciar sesión</ion-button>

          <!-- Enlace de Olvidé mi contraseña 
          <div class="forgot-password ion-text-center">
            <ion-text color="medium">
              <p (click)="forgotPassword()">¿Olvidaste tu contraseña?</p>
            </ion-text>
          </div> -->

        </ion-card-content>
         <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
      </ion-card>
    </div>
  </div>

</ion-content>