<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tiendas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goBack()">Volver</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngIf="tiendas.length > 0; else noTiendas">
    <ion-item *ngFor="let tienda of tiendas">
      <ion-label>
        <h2>{{ tienda.nombre_tienda }}</h2>
        <p>{{ tienda.direccion }}, {{ tienda.ciudad }}</p>
        <p>Creado: {{ tienda.created_at | date }}</p>
      </ion-label>
      <ion-button (click)="tienda.id_tienda ? editarTienda(tienda.id_tienda) : null" fill="outline">
        Modificar
      </ion-button>
    </ion-item>
  </ion-list>

  <ng-template #noTiendas>
    <ion-card>
      <ion-card-header>
        <ion-card-title>No hay tiendas disponibles</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Actualmente no se han encontrado tiendas para mostrar.
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>