<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Crear Productos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goBack()">Volver</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="crearProducto()">
    <ion-item>
      <ion-label position="floating">Sku</ion-label>
      <ion-input [(ngModel)]="nuevoProducto.sku" name="sku" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Codigo de barra</ion-label>
      <ion-input [(ngModel)]="nuevoProducto.codbarra" name="codbarra" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nombre del producto</ion-label>
      <ion-input [(ngModel)]="nuevoProducto.nombre_producto" name="nombre_producto" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Familia</ion-label>
      <ion-input [(ngModel)]="nuevoProducto.familia" name="familia" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Precio de venta</ion-label>
      <ion-input [(ngModel)]="nuevoProducto.precio_venta" name="precio_venta" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Costo</ion-label>
      <ion-input [(ngModel)]="nuevoProducto.costo" name="costo" required></ion-input>
    </ion-item>



    <ion-button expand="full" type="submit">Crear Producto</ion-button>
  </form>
</ion-content>