<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Lista de Tiendas</ion-title>
    <ion-buttons slot="end">
      <ion-button id="open-modal">Agregar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngIf="tiendas.length > 0; else listaVacia">
    <ion-item *ngFor="let tienda of tiendas">
      <ion-label>{{tienda.nombre}}</ion-label>
    </ion-item>
  </ion-list>

  <ng-template #listaVacia>
    <ion-item lines="none">
      <ion-label class="ion-text-center">
        <ion-text color="medium">
          <h2>No hay tiendas disponibles.</h2>
        </ion-text>
      </ion-label>
    </ion-item>
  </ng-template>

  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancelar()">Cancelar</ion-button>
          </ion-buttons>
          <ion-title>Nueva Tienda</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="agregarTienda(nueva_tienda)" [strong]="true">Agregar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <ion-item>
          <ion-input label="id" type="text" placeholder="id" [(ngModel)]="nueva_tienda.id"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="nombre" type="text" placeholder="nombre" [(ngModel)]="nueva_tienda.nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="ciudad" type="text" placeholder="ciudad" [(ngModel)]="nueva_tienda.ciudad"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="region" type="text" placeholder="region" [(ngModel)]="nueva_tienda.region"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="direccion" type="text" placeholder="direccion" [(ngModel)]="nueva_tienda.direccion"></ion-input>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>