<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Crear Tienda</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goBack()">Volver</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="crearTienda()">
    <ion-item>
      <ion-label position="floating">Nombre de la Tienda</ion-label>
      <ion-input [(ngModel)]="nuevaTienda.nombre_tienda" name="nombre_tienda" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Dirección</ion-label>
      <ion-input [(ngModel)]="nuevaTienda.direccion" name="direccion" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Ciudad</ion-label>
      <ion-select [(ngModel)]="nuevaTienda.ciudad" name="ciudad" required>
        <ion-select-option *ngFor="let ciudad of ciudades" [value]="ciudad.nombre">
          {{ ciudad.nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Encargado</ion-label>
      <ion-select
        [(ngModel)]="nuevaTienda.id_encargado"
        name="id_encargado"
        required
        placeholder="Seleccione un encargado"
      >
        <ion-select-option *ngFor="let usuario of usuariosDisponibles" [value]="usuario.usuario_id">
          {{ usuario.nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="full" type="submit">Crear Tienda</ion-button>
  </form>
</ion-content>
