<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Gestión de Usuarios</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goBack()">Volver</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button (click)="crearUsuario()">
      <ion-label>Crear Usuario</ion-label>
    </ion-item>

    <ion-item button (click)="verUsuarios()">
      <ion-label>Ver Usuarios</ion-label>
    </ion-item>

   

  </ion-list>
</ion-content>