<ion-header [translucent]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title>Crear Tienda</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <form (ngSubmit)="crearTienda()">
      <ion-item>
        <ion-label position="floating">Nombre de la Tienda</ion-label>
        <ion-input [(ngModel)]="nuevaTienda.nombre_tienda" name="nombre_tienda" required></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">Dirección</ion-label>
        <ion-input [(ngModel)]="nuevaTienda.direccion" name="direccion" required></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">Ciudad</ion-label>
        <ion-input [(ngModel)]="nuevaTienda.ciudad" name="ciudad" required></ion-input>
      </ion-item>
      
      <ion-button expand="full" type="submit">Crear Tienda</ion-button>
    </form>
  </ion-content>