<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Crear Usuario</ion-title>
  </ion-toolbar>
  <ion-buttons slot="end">
    <ion-button (click)="goBack()">Volver</ion-button>
  </ion-buttons>
</ion-header>

<ion-content>
  <form (ngSubmit)="crearUsuario()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="nuevoUsuario.nombre" name="nombre" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nombre de Usuario</ion-label>
      <ion-input [(ngModel)]="nuevoUsuario.nombreUsuario" name="nombreUsuario" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input [(ngModel)]="nuevoUsuario.email" name="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [(ngModel)]="nuevoUsuario.password" name="password" type="password" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Rol</ion-label>
      <ion-select [(ngModel)]="nuevoUsuario.role_id" name="role_id" required placeholder="Seleccionar Rol">
        <ion-select-option *ngFor="let role of roles" [value]="role.role_id">
          {{ role.nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="block" type="submit">Crear Usuario</ion-button>
  </form>
</ion-content>