<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">Volver</ion-button>
    </ion-buttons>
    <ion-title>Modificar Tienda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngIf="modificarTienda">
    <form>
      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input [(ngModel)]="modificarTienda.nombre_tienda" name="nombre_tienda"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Dirección</ion-label>
        <ion-input [(ngModel)]="modificarTienda.direccion" name="direccion"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Ciudad</ion-label>
        <ion-input [(ngModel)]="modificarTienda.ciudad" name="ciudad"></ion-input>
      </ion-item>
    </form>
  </ng-container>
  <ion-button expand="full" (click)="guardarCambios()">Guardar Cambios</ion-button>
  <ion-button expand="full" (click)="eliminarTienda()">Eliminar Tienda</ion-button>
</ion-content>