<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Modificar Tienda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form (ngSubmit)="modificarTienda(tienda)">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Nombre de la tienda</ion-label>
        <ion-input [(ngModel)]="tienda.nombre_tienda" name="nombre_tienda" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Dirección</ion-label>
        <ion-textarea [(ngModel)]="tienda.direccion" name="direccion"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Ciudad</ion-label>
        <ion-input [(ngModel)]="tienda.ciudad" name="ciudad"></ion-input>
      </ion-item>

      <ion-button expand="block" type="submit">Guardar Cambios</ion-button>
    </ion-list>
  </form>
</ion-content>