<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Modificar Tienda</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goBack()">Volver</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form (ngSubmit)="modificarTienda(tienda)">


    <ion-item>
      <ion-label position="floating">Nombre de la Tienda</ion-label>
      <ion-input [(ngModel)]="tienda.nombre_tienda" name="nombre_tienda" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Dirección</ion-label>
      <ion-input [(ngModel)]="tienda.direccion" name="direccion" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Ciudad</ion-label>
      <ion-input [(ngModel)]="tienda.ciudad" name="ciudad" required></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit">Modificar Tienda</ion-button>
  </form>
</ion-content>