.login-background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: linear-gradient(135deg, #e0eafc 0%, #cfdef3 100%);
  }
  
  .login-container {
    max-width: 400px;
    width: 100%;
  }
  
  .logo-container {
    text-align: center;
    margin-bottom: 20px;
    color: #3880ff; /* Color del logo o ícono */
  }
  
  .login-card {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 20px;
  }
  
  .login-subtitle {
    font-size: 14px;
    color: #666;
  }
  
  .custom-input ion-input {
    font-size: 16px;
    padding: 10px 0;
  }
  
  .login-button {
    margin-top: 20px;
    font-weight: bold;
    border-radius: 8px;
    color: #666;
  }
  
  .forgot-password p {
    margin-top: 15px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .forgot-password p:hover {
    text-decoration: underline;
  }