<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Gestión de Productos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goBack()">Volver</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button (click)="crearProducto()">
      <ion-label>Crear Producto</ion-label>
    </ion-item>

    <ion-item button (click)="verProductos()">
      <ion-label>Ver Productos</ion-label>
    </ion-item>

  </ion-list>
</ion-content>